:root {
  --l-header-height: 4rem;
  --l-scroll-padding-top: calc(var(--l-header-height) + 1rem);
}

#l-header {
  --color-current: rgb(var(--color-light-rgb));

  z-index: var(--z-20);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2rem;
  background-color: rgb(var(--color-dark-rgb));
  color: var(--color-current);

  .dark & {
    background-color: var(--color-body-secondary);
  }

  &.is-l-header-normal {
    & ~ #l-main {
      padding-top: var(--l-header-height);
    }
  }

  .l_header_body {
    align-items: center;
    height: var(--l-header-height);
  }

  .l_header_logo {
    font-size: 1.5rem;
    margin-right: 3rem;
  }

  .l_header_menu {
    position: relative;
    font-size: 1.5rem;
  }

  .l_header_nav {
    gap: 2rem;

    .ui-link {
      padding: 1.25rem 0;
    }
  }
}
