html {
  scroll-padding-top: var(--l-scroll-padding-top);

  @media (min-width: 60em) and (max-width: 75.9375rem) {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--color-body);
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

.l-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &.swup-transition {
    html.swup-enabled & {
      transition: opacity 0.15s;
      opacity: 1;
    }

    html.is-animating & {
      opacity: 0;
    }
  }
}
