.l-nav {
  .c-drawer-content {
    padding: 2rem;
  }

  [data-part~="logo"] {
    display: flex;
    padding: 0.75rem 0 2.5rem;
  }

  [data-part~="nav"] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    & a {
      padding: 0.5rem 0;
      font-size: 1.75rem;
      display: block;
    }
  }
}
