.c-cookieconsent {
  position: fixed;
  inset: 0;
  display: none;
  z-index: var(--z-50);
  background-color: rgb(var(--color-dark-rgb) / 0.75);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media print {
    display: none !important;
  }

  &:not(.is-animate) {
    animation: 0.5s ease 0s forwards 1 fade-out;
  }

  &.is-animate {
    animation: 0.5s ease 0s backwards 1 fade-in;
  }

  &.active {
    display: flex;
  }

  > .c {
    max-width: 32rem;
    width: calc(100% - 2rem);
    border-radius: var(--rounded-2xl);
    padding: 1rem;
    background-color: var(--color-body-primary);

    @media (--media-md) {
      padding: 2rem;
    }

    > .c_head {
      margin-bottom: 1rem;

      @media (--media-md) {
        margin-bottom: 1.5rem;
      }
    }

    > .c_foot {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;

      @media (--media-md) {
        margin-top: 2rem;
      }
    }
  }

  &.is-center {
    > .c {
      max-width: 27rem;
      text-align: center;

      & .ui-image {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
