.ui-btn {
  --ui-btn-width: 2.375rem;
  --ui-btn-py: 0.375rem;
  --ui-btn-px: 1rem;
  --ui-btn-size: 0.875rem;
  --ui-btn-weight: var(--font-medium);
  --ui-btn-bg: var(--color-primary);
  --ui-btn-color: var(--color-light);
  --ui-btn-hover-opacity: 0.2;
  --ui-btn-outline-opacity: 0.5;
  --ui-btn-icon-size: 1.125rem;
  --ui-btn-icon-offset: calc((var(--ui-btn-py) / 1)  * -1);
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  font-size: var(--ui-btn-size);
  font-weight: var(--ui-btn-weight);
  height: var(--ui-btn-width);
  padding: var(--ui-btn-py) var(--ui-btn-px);
  border-radius: var(--radius);
  transition: var(--transition-opacity), var(--transition-background);
  background-color: rgb(var(--ui-btn-bg));
  color: rgb(var(--ui-btn-color));

  @nest .dark .bg-default& {
    --ui-btn-color: var(--color-dark);
  }

  &:before {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: currentColor;
    z-index: -1;
    opacity: 0;
    transition: var(--transition-opacity);

    @nest .no-touch :hover&, [data-state="active"]& {
      opacity: var(--ui-btn-hover-opacity);
    }
  }

  & > span {
    &[class^="icon"] {
      font-size: var(--ui-btn-icon-size);
    }

    &.icon-l {
      &:not([class*="mr-"]) {
        margin-right: var(--ui-btn-py);
        margin-left: var(--ui-btn-icon-offset);
      }
    }

    &.icon-r {
      &:not([class*="ml-"]) {
        margin-left: var(--ui-btn-py);
        margin-right: var(--ui-btn-icon-offset);
      }

      order: 1;
    }
  }

  &[disabled] {
    pointer-events: none;

    &:before {
      opacity: 0.5;
    }
  }

  &[data-type*="outline"] {
    --ui-btn-bg: transparent;
    --ui-btn-color: var(--color-primary);
    --ui-btn-hover-opacity: 0.05;

    &:after {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: transparent;
      border: 1px solid currentColor;
      box-sizing: border-box;
      opacity: var(--ui-btn-outline-opacity);
      border-radius: var(--radius);
    }
  }

  &[data-type^="square"], &[data-type^="circle"] {
    --ui-btn-py: var(--ui-btn-py);
    width: var(--ui-btn-width);
  }

  &[data-type^="circle"] {
    border-radius: 50%;
  }

  &[data-size="lg"] {
    --ui-btn-icon-size: 1.5rem;
    --ui-btn-width: 3rem;
    --ui-btn-px: 1.25rem;
  }

  &[data-state="loading"] {
    pointer-events: none;

    & > span {
      opacity: 0;
    }

    &:before {
      z-index: 1;
      width: 1rem;
      height: 1rem;
      content: "";
      background-color: transparent;
      border: 2px solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      animation: load 0.45s infinite linear;
      position: absolute;
      margin-left: -0.625rem;
      margin-top: -0.625rem;
      left: 50%;
      top: 50%;
      opacity: 1;
    }
  }

  @media (--media-400) {
    &[data-type*="m:square"], &[data-type*="m:circle"] {
      --ui-btn-py: var(--ui-btn-py);
      width: var(--ui-btn-width);

      & > span {
        margin: 0 !important;
      }
    }

    &[data-type*="m:circle"] {
      border-radius: 50%;
    }
  }
}

.ui-btn-group {
  display: flex;

  & .ui-btn {
    &:not(:first-of-type) {
      box-shadow: -1px 0 rgba(var(--ui-btn-color),var(--ui-btn-hover-opacity));

      &, &:after {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:after {
        border-left: 0;
      }
    }

    &:not(:last-of-type) {
      &, &:after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}