.ui-btn {
  --ui-btn-width: auto;
  --ui-btn-height: 2.375rem;
  --ui-btn-py: 0.375rem;
  --ui-btn-px: 1rem;
  --ui-btn-size: 0.875rem;
  --ui-btn-radius: var(--radius);
  --ui-btn-weight: var(--font-medium);
  --ui-btn-bg-opacity: var(--tw-bg-opacity, 1);
  --ui-btn-text-opacity: var(--tw-text-opacity, 1);
  --ui-btn-bg: rgb(var(--color-accent) / var(--ui-btn-bg-opacity));
  --ui-btn-color: rgb(var(--color-light) / var(--ui-btn-text-opacity));
  --ui-btn-hover-opacity: 0.2;
  --ui-btn-outline-width: 2px;
  --ui-btn-outline-opacity: 0.5;
  --ui-btn-icon-size: 1.125rem;
  --ui-btn-icon-offset: calc((var(--ui-btn-py) / 1) * -1);

  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  flex-shrink: 0;
  font-size: var(--ui-btn-size);
  font-weight: var(--ui-btn-weight);
  width: var(--ui-btn-width);
  height: var(--ui-btn-height);
  padding: var(--ui-btn-py) var(--ui-btn-px);
  border-radius: var(--ui-btn-radius);
  transition: var(--transition-opacity), var(--transition-background), var(--transition-color);
  background-color: var(--ui-btn-bg);
  color: var(--ui-btn-color);

  @nest .dark &.accent-dark {
    --ui-btn-color: rgb(var(--color-dark));
    --color-accent: var(--color-light);
  }

  &:--theme-light {
    --ui-btn-color: rgb(var(--color-light) / var(--tw-text-opacity, 1));
  }

  &:--theme-dark {
    --ui-btn-color: rgb(var(--color-dark) / var(--tw-text-opacity, 1));
  }

  &::before {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--ui-btn-color);
    z-index: -1;
    opacity: 0;
    transition: var(--transition-opacity);

    @nest .no-touch :is(:hover, :focus-visible)&, :is(:--state-active)& {
      opacity: var(--ui-btn-hover-opacity);
    }
  }

  & > svg {
    width: 1em;
    height: 1em;
  }

  & > [class^="icon"] {
    font-size: var(--ui-btn-icon-size);

    &.icon-l {
      &:not([class*="mr-"]) {
        margin-right: var(--ui-btn-py);
        margin-left: var(--ui-btn-icon-offset);
      }
    }

    &.icon-r {
      &:not([class*="ml-"]) {
        margin-left: var(--ui-btn-py);
        margin-right: var(--ui-btn-icon-offset);
      }

      order: 1;
    }
  }

  &[disabled] {
    pointer-events: none;

    &::before {
      opacity: 0.5;
    }
  }

  &:--type-text {
    @nest :not(:hover, :focus-visible, :--state-active)& {
      --ui-btn-color: currentColor;

      background-color: transparent;
    }
  }

  &:--type-outline {
    --ui-btn-color: rgb(var(--color-current));
    --ui-btn-hover-opacity: 0.1;

    background-color: transparent;

    &::before {
      background-color: var(--ui-btn-bg);
    }

    &::after {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: transparent;
      border: var(--ui-btn-outline-width) solid var(--ui-btn-bg);
      box-sizing: border-box;
      opacity: var(--ui-btn-outline-opacity);
      border-radius: var(--ui-btn-radius);
    }
  }

  &:--type-square, &:--type-circle {
    --ui-btn-py: var(--ui-btn-py);
    --ui-btn-width: var(--ui-btn-height);
  }

  &:--type-circle {
    border-radius: 50%;
  }

  &:--size-sm {
    --ui-btn-height: 2.25rem;
    --ui-btn-px: 1rem;
  }

  &:--size-lg {
    --ui-btn-icon-size: 1.5rem;
    --ui-btn-height: 3rem;
    --ui-btn-px: 1.25rem;
  }

  &:--state-loading {
    pointer-events: none;
    color: transparent;

    & > * {
      opacity: 0;
    }

    &::before {
      z-index: 1;
      width: 1rem;
      height: 1rem;
      content: "";
      background-color: transparent;
      border: 2px solid var(--ui-btn-color);
      border-right-color: transparent;
      border-radius: 50%;
      animation: spin 0.45s infinite linear;
      position: absolute;
      margin-left: -0.625rem;
      margin-top: -0.625rem;
      left: 50%;
      top: 50%;
      opacity: 1 !important;
    }
  }

  @media (--media-m) {
    &:--type-square-m, &:--type-circle-m {
      --ui-btn-py: var(--ui-btn-py);
      --ui-btn-width: var(--ui-btn-height);

      & > * {
        margin: 0 !important;
      }
    }

    &:--type-circle-m {
      border-radius: 50%;
    }
  }
}

.ui-btn-group {
  display: flex;

  & .ui-btn {
    &:not(:last-of-type) {
      &, &::after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:not(:first-of-type) {
      &, &::after {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &::after {
        border-left: 0;
      }

      &, &:--theme-light {
        box-shadow: -1px 0 rgb(var(--color-light) / var(--ui-btn-hover-opacity));
      }

      &:--theme-dark {
        box-shadow: -1px 0 rgb(var(--color-dark) / var(--ui-btn-hover-opacity));
      }
    }
  }
}
