@import "winduum/src/ui/control/default.css";
@import "winduum/src/ui/control/select.css";
@import "winduum/src/ui/control/icon.css";
@import "winduum/src/ui/control/floating.css";

.ui-control:where(.floating) {
  &.active label,
  :where(input, textarea):is(:focus, [placeholder]) ~ label,
  :where(select):is([data-placeholder]) ~ label {
    transform: var(--ui-control-floating-label-focus-transform);
    opacity: var(--ui-control-floating-label-focus-opacity);
  }

  &:not(.active) select:not([data-placeholder]) {
    font-size: 0;

    & option {
      font-size: var(--ui-control-font-size);
    }
  }
}

.ui-control :where(.color) {
  width: var(--ui-control-icon-font-size);
  height: var(--ui-control-icon-font-size);
  border-radius: 50%;
  overflow: hidden;
  display: block;
  border: 1px solid rgb(0 0 0 / 0.15);
}
