.ui-control[data-controller~="ui-control-select"] {
  cursor: pointer;

  & select {
    pointer-events: none;
  }

  & div[aria-hidden] {
    will-change: transform;
    border-radius: var(--ui-control-border-radius);
    position: absolute;
    background-color: rgb(var(--color-body-rgb));
    z-index: 100;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 0.5rem;
    border: 1px solid rgb(var(--color-current) / 7.5%);
    transform: scaleY(0);
    opacity: 0;
    transition: var(--transition-opacity), var(--transition-transform);
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
    transition-duration: 200ms;
    backface-visibility: hidden;
    transform-origin: center top;
    user-select: none;
    max-height: 12rem;
    overflow-y: auto;
    box-shadow: 0 0.15em 1.5em 0 rgb(var(--color-dark-rgb) / 5%), 0 0 1em 0 rgb(var(--color-dark-rgb) / 5%);
    padding: 0.375rem;
    color: rgb(var(--color-current));
    cursor: default;

    & [data-option] {
      padding: calc(var(--ui-control-px) / 1.5) var(--ui-control-px);
      cursor: pointer;
      transition: var(--transition-background);
      font-size: var(--ui-control-font-size);
      border-radius: var(--ui-control-border-radius);

      &[data-disabled] {
        opacity: 0.5;
        pointer-events: none;
      }

      &:is(:hover, :focus) {
        background-color: rgb(var(--color-accent-rgb) / 10%);
      }
    }
  }

  &:focus-within {
    --ui-control-border-opacity: 100%;
    --ui-control-border-color: var(--color-accent);

    & select {
      outline-color: color-mix(in srgb, var(--color-accent) var(--ui-control-outline-opacity), transparent);
      outline-offset: var(--ui-control-outline-offset);
    }
  }

  &:focus-within select ~ div[aria-hidden] {
    opacity: 1;
    transform: none;
  }
}
