@import "winduum/src/ui/control/default.css";
@import "winduum/src/ui/control/default-props.css";
@import "winduum/src/ui/control/interactive.css";
@import "winduum/src/ui/control/interactive-props.css";
@import "winduum/src/ui/control/file.css";
@import "winduum/src/ui/control/select.css";
@import "winduum/src/ui/control/select-props.css";
@import "winduum/src/ui/control/icon.css";
@import "winduum/src/ui/control/icon-props.css";
@import "winduum/src/ui/control/floating.css";
@import "winduum/src/ui/control/floating-props.css";
@import "winduum/src/ui/control/invalid.css";

.ui-control {
  --ui-control-font-size: var(--text-sm);

  &.active label,
  :where(input, textarea):is(:focus, [placeholder]) ~ label,
  :where(select):is([data-placeholder]) ~ label,
  &:has(.-active-) label {
    transform: translateY(calc(var(--ui-control-label-translate-y) * -1)) scale(var(--ui-control-label-scale));
    opacity: var(--ui-control-label-focus-opacity, 0.5);
  }

  &:has(label):not(.active) select:not([data-placeholder]) {
    font-size: 0;
    height: inherit;

    & option {
      font-size: var(--ui-control-font-size);
    }
  }

  :where(.color) {
    width: var(--ui-control-icon-size);
    height: var(--ui-control-icon-size);
    border-radius: 50%;
    overflow: hidden;
    display: block;
    border: 1px solid rgb(0 0 0 / 15%);
  }

  :where([type="number"]) {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  :where(input) {
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}
