.ui-dot {
  --ui-dot-sq: 0.375rem;
  --ui-dot-bg-opacity: 0.2;

  width: var(--ui-dot-sq);
  height: var(--ui-dot-sq);
  border-radius: var(--rounded-full);
  background-color: rgb(var(--color-accent-rgb) / var(--ui-dot-bg-opacity));
  transition: var(--transition-background), width var(--transition-duration), height var(--transition-duration);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: -0.25rem;
  }

  &.active {
    --ui-dot-bg-opacity: 1;
    --ui-dot-sq: 0.5625rem;
  }
}
