.ui-dot {
  --tw-bg-opacity: 0.2;
  --ui-dot-size: 0.375rem;

  width: var(--ui-dot-size);
  height: var(--ui-dot-size);
  border-radius: var(--rounded-full);
  background-color: color-mix(in srgb, var(--color-accent) calc(var(--tw-bg-opacity) * 100%), transparent);
  transition: var(--transition-background), width var(--duration), height var(--duration);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: -0.25rem;
  }

  &.active {
    --tw-bg-opacity: 1;
    --ui-dot-size: 0.5625rem;
  }
}
