.ui-heading {
  --ui-heading-size: 1.5rem;
  --ui-heading-size-line: 0.5rem;

  display: block;
  font-weight: var(--font-bold);
  font-size: var(--ui-heading-size);
  line-height: calc(var(--ui-heading-size) + var(--ui-heading-size-line));

  &:--size-lg {
    --ui-heading-size: 1.75rem;

    @media (--media-t) {
      --ui-heading-size: 2rem;
    }
  }

  &:--size-sm {
    --ui-heading-size: 1.25rem;
  }
}
