.ui-icon {
  --ui-icon-hover-opacity: 0.7;
  --ui-icon-size: 1.25rem;

  display: inline-flex;
  position: relative;
  font-size: var(--ui-icon-size);

  &, & svg {
    width: 1em;
    height: 1em;
  }

  & > * {
    transition: var(--transition-opacity);

    @nest .no-touch :is([href]:hover, button:hover)& {
      opacity: var(--ui-icon-hover-opacity);
    }
  }
}

.ui-icon-text {
  --ui-icon-hover-opacity: 0.7;

  display: inline-flex;
  align-items: center;
  transition: var(--transition-opacity), var(--transition-color);

  @nest .no-touch &:is([href]:hover, button:hover) {
    opacity: var(--ui-icon-hover-opacity);
  }
}
