.ui-notice {
  --ui-notice-size: 0.875rem;
  --ui-notice-py: 1.25rem;
  --ui-notice-px: 1.5rem;
  position: relative;
  z-index: 1;
  padding: var(--ui-notice-py) var(--ui-notice-px);
  font-size: var(--ui-notice-size);
  border-radius: var(--radius);

  &:not([class*="bg-"]) {
    &:before, &:after {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--radius);
      z-index: -1;
      content: "";
    }

    &:before {
      background-color: currentColor;
      opacity: 0.1;
    }

    &:after {
      box-shadow: inset 0 0 0 1px currentColor;
      opacity: 0.1;
    }
  }

  & hr {
    opacity: 0.1;
  }

  & a {
    text-decoration: underline;
    transition: var(--transition-opacity);

    &:not([class*="text-"]) {
      color: currentColor !important;
    }

    @nest .no-touch &[href]:hover {
      opacity: 0.8;
    }
  }
}