.ui-select {
  cursor: pointer;
  user-select: none;

  &:--state-active {
    & label {
      transform: translateY(calc(var(--ui-input-size) / 1.4 * -1)) scale(0.8);
    }
  }

  &::after {
    width: 1em;
    height: 1em;
    background-color: currentColor;
    content: "";
    position: absolute;
    z-index: 1;
    font-size: 1.5rem;
    right: calc(var(--ui-input-height) / 4);
    top: calc(var(--ui-input-height) / 2);
    margin-top: -0.75rem;
    will-change: transform;
    transition: transform 200ms;
    mask: var(--icon-angle-down);
    pointer-events: none;

    @nest :--state-focus& {
      @nest .no-touch:not(.macintel) & {
        transform: rotate(180deg);
      }
    }
  }

  & select {
    position: relative;
    z-index: 1;
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;

    @nest [tabindex]& {
      pointer-events: none;
    }

    @nest [tabindex]:--state-focus& {
      --ui-input-border-opacity: 1;
      --ui-input-border-color: var(--color-accent);

      box-shadow:
        0 0 0 0 rgb(var(--color-current)),
        0 0 0 3px rgb(var(--color-accent) / 0.15),
        0 1px 2px 0 rgb(var(--color-current) / 0.05);

      @nest .dark & {
        box-shadow:
          0 0 0 0 rgb(var(--color-current)),
          0 0 0 3px rgb(var(--color-accent) / 0.3),
          0 1px 2px 0 rgb(var(--color-current) / 0.05);
      }
    }

    @nest :not(:--state-active)& {
      &:not([data-placeholder]) {
        font-size: 0;
      }
    }

    &:focus {
      outline: 0;
    }

    &:-moz-focusring {
      color: inherit;
      text-shadow: 0 0 0 #000;
    }
  }

  & option {
    font-size: var(--ui-input-size);
    color: rgb(var(--color-default));
    background-color: rgb(var(--color-background));

    &[disabled] {
      opacity: 0.5;
    }
  }

  & > [class^="icon-"] {
    &.icon-r {
      right: calc(var(--ui-input-px) + var(--ui-input-icon-size) + var(--ui-input-icon-spacing));
    }
  }

  & > div[aria-hidden] {
    --color-current: var(--color-default);

    will-change: transform;
    border-radius: var(--ui-input-radius);
    position: absolute;
    background-color: rgb(var(--color-background));
    z-index: 100;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 0.5rem;
    border: 1px solid rgb(var(--color-current) / 0.075);
    transform: scaleY(0);
    opacity: 0;
    transition: var(--transition-opacity), var(--transition-transform);
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
    transition-duration: 200ms;
    backface-visibility: hidden;
    transform-origin: center top;
    user-select: none;
    max-height: 12rem;
    overflow-y: auto;
    box-shadow: 0 0.15em 1.5em 0 rgb(var(--color-dark) / 0.05), 0 0 1em 0 rgb(var(--color-dark) / 0.05);
    padding: 0.375rem;
    color: rgb(var(--color-current));

    @nest [data-state*="focus"]& {
      opacity: 1;
      transform: none;
    }

    & [data-option] {
      padding: calc(var(--ui-input-px) / 1.5) var(--ui-input-px);
      cursor: pointer;
      transition: var(--transition-background);
      font-size: var(--ui-input-size);
      border-radius: var(--radius);

      @nest .no-touch &:is(:hover, :focus) {
        background-color: rgb(var(--color-accent) / 0.1);
      }
    }
  }
}
