.ui-text {
  --ui-text-size: 0.9375rem;
  --ui-text-weight: var(--font-normal);
  --ui-text-weight-bold: var(--font-semibold);

  font-weight: var(--ui-text-weight);
  font-size: var(--ui-text-size);
  line-height: calc(var(--ui-text-size) + 0.75rem);

  & a {
    text-decoration: underline;
    transition: var(--transition-opacity);

    &:not([class*="text-"]) {
      color: rgb(var(--color-accent));

      @nest .no-touch &[href]:hover {
        opacity: 0.8;
      }
    }
  }

  & b, & strong {
    font-weight: var(--ui-text-weight-bold);
  }

  & i, & em {
    display: inline;
    font-style: italic;
  }

  & figure {
    margin: 1rem 0;

    @media (--media-t) {
      margin: 2rem 0;
    }

    & figcaption {
      font-size: 0.875rem;
      font-weight: var(--font-semibold);
      margin-top: 0.875rem;
    }
  }

  & img {
    max-width: 100%;
    height: auto !important;

    @media (--media-m) {
      display: block;
      float: none !important;
    }

    @media (--media-t) {
      &[style*="right"], &.float-right {
        margin: 0 0 2rem 4rem;
      }

      &[style*="left"], &.float-left {
        margin: 0 2rem 4rem 0;
      }
    }
  }

  & p {
    line-height: inherit;
    margin: 0;

    &:empty {
      line-height: 1rem;
    }

    &::after {
      content: "\00a0";
    }
  }

  & hr {
    margin: 1.25rem 0;
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--ui-text-weight-bold);
    font-family: var(--font-secondary);
    font-size: var(--ui-text-heading-size, 1rem);
    line-height: calc(var(--ui-text-heading-size) + 0.5rem);
    margin: 0 0 1.25rem;
  }

  & h1 {
    --ui-text-heading-size: 2.25rem;
  }

  & h2 {
    --ui-text-heading-size: 1.75rem;
  }

  & h3, & h4 {
    --ui-text-heading-size: 1.25rem;
  }

  & table {
    border: 0;

    @media (--media-m) {
      min-width: 100%;
    }

    & td, & th {
      padding: 1rem 1.125rem;
      text-align: left;
    }

    & thead {
      font-weight: var(--ui-text-weight-bold);
      border-bottom: 1px solid rgb(var(--color-current) / 0.075);
    }

    & tbody {
      & tr {
        &:nth-of-type(even) {
          background-color: rgb(var(--color-current) / 0.05);
        }
      }
    }
  }

  & iframe {
    max-width: 100%;
  }

  & blockquote {
    background-color: rgb(var(--color-current) / 0.075);
    border-left: 0.3125rem solid rgb(var(--color-accent) / 1);
    padding: 1.25em 1.5em;
    margin: 0;
    font-size: inherit;
  }

  & code {
    margin: 0;
    border-radius: var(--radius);
    padding: 0.25rem 0.5rem;
    font-size: 0.85em;
    color: #476582;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: rgb(27 31 35 / 0.05);

    @nest .dark & {
      background-color: rgb(var(--color-background-100));
      color: rgb(var(--color-primary));
    }
  }

  & ol {
    margin: 0 0 1.5rem;
    padding: 0 0 0 1rem;

    & li {
      padding-left: 0.5rem;

      &::marker {
        color: rgb(var(--color-accent));
      }
    }
  }

  & ul {
    list-style-type: none !important;
    margin: 0 0 1.5rem;
    padding: 0;

    & li {
      position: relative;
      line-height: inherit;
      padding-left: 1.5rem;

      &:not(:last-of-type) {
        margin: 0 0 0.5rem;
      }

      &::before {
        width: 0.25rem;
        height: 0.25rem;
        position: absolute;
        content: "";
        border: 1px solid rgb(var(--color-accent));
        background-color: rgb(var(--color-accent));
        left: 0;
        top: 0.625rem;
        text-indent: 0;
        border-radius: 50%;
      }
    }

    &[style*="square"] {
      & li {
        &::before {
          border-radius: 0;
        }
      }
    }

    &[style*="circle"] {
      & li {
        &::before {
          border-radius: 50%;
          background-color: transparent;
        }
      }
    }
  }

  & .elm_text_table {
    display: block;

    @media (--media-m) {
      max-width: 100%;
      overflow: auto;
    }
  }

  & .elm_text_video {
    aspect-ratio: 16/9;
    position: relative;

    &::before {
      content: "";
      display: block;
    }

    & iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }
}
