@import "air-datepicker/air-datepicker.css";

.air-datepicker {
  --adp-btn-color: var(--color-primary);
  --adp-day-name-color: var(--color-primary);
  --adp-color-current-date: var(--color-default);
  --adp-cell-background-color-selected: var(--color-primary);
  --adp-cell-background-color-selected-hover: var(--color-primary);
  --adp-cell-border-radius: var(--rounded);
  --adp-border-radius: var(--rounded);

  font-family: inherit;

  .air-datepicker-cell {
    &.-current- {
      --sq: 0.25rem;
      --bottom: 0.25rem;

      &::before {
        content: "";
        width: var(--sq);
        height: var(--sq);
        border-radius: var(--rounded-full);
        background-color: var(--color-success);
        position: absolute;
        bottom: var(--bottom);
        left: calc(50% - var(--sq) / 2);
      }
    }
  }
}
