.lib-drawer {
  --lib-drawer-opacity: 0;

  z-index: var(--z-30);
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  & > div {
    scroll-snap-align: end;
  }

  &[data-action*="scroll"] {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &:--state-active {
      scroll-snap-type: x proximity;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &::before {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: rgb(var(--color-dark) / 0.6);
    content: "";
    opacity: var(--lib-drawer-opacity);

    @nest .is-opacity& {
      transition: var(--transition-opacity);
    }

    @nest :not(:--state-active)& {
      opacity: 0;
    }
  }

  &:not(:--state-active) {
    pointer-events: none;

    & > div {
      transform: translateX(-28.125rem);

      @media (--media-m) {
        transform: translateX(-22.5rem);
      }
    }
  }

  &::after {
    content: "";
    display: block;
    min-width: 100vw;
    scroll-snap-align: end;
  }
}
