[class*="lib-hint-"] {
  --color-accent: var(--color-body);
  --color-current: var(--color-body-fg);
  --lib-hint-font-size: 0.75rem;
  --lib-hint-font-weight: var(--font-normal);

  position: relative;

  &::before, &::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: var(--z-10);
    pointer-events: none;
    transition: var(--duration) ease;
    transition-delay: 0ms;
    will-change: transform;
    backface-visibility: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: transparent;
    border: 0.375rem solid transparent;
    z-index: var(--z-20);
  }

  &::after {
    border-radius: var(--rounded);
    background-color: var(--color-accent);
    color: var(--color-current);
    padding: 0.75rem;
    font-size: var(--lib-hint-font-size);
    font-family: inherit;
    line-height: 0.875rem;
    white-space: nowrap;
    box-shadow:
      0 0.15rem 1.5rem 0 color-mix(in srgb, var(--color-main) 10%, transparent),
      0 0 1rem 0 color-mix(in srgb, var(--color-main) 10%, transparent);
    font-weight: var(--lib-hint-font-weight);
    text-align: center;
  }

  &.lib-hint-top {
    &::before, &::after {
      bottom: 100%;
      left: 50%;
    }

    &::before {
      left: calc(50% - 0.375rem);
      margin-bottom: -0.6875rem;
    }

    &::after {
      transform: translateX(-50%);
    }

    &:is(:hover, :focus-visible) {
      &::before {
        transform: translateY(-0.5rem);
      }

      &::after {
        transform: translateX(-50%) translateY(-0.5rem);
      }
    }
  }

  &.lib-hint-bottom {
    &::before, &::after {
      top: 100%;
      left: 50%;
    }

    &::before {
      left: calc(50% - 0.375rem);
      margin-top: -0.6875rem;
    }

    &::after {
      transform: translateX(-50%);
    }

    &:is(:hover, :focus-visible) {
      &::before {
        transform: translateY(0.5rem);
      }

      &::after {
        transform: translateX(-50%) translateY(0.5rem);
      }
    }
  }

  &.lib-hint-right {
    &::before, &::after {
      left: 100%;
      bottom: 50%;
    }

    &::before {
      margin-left: -0.6875rem;
      margin-bottom: -0.375rem;
    }

    &::after {
      margin-bottom: -1.1875rem;
    }

    &:is(:hover, :focus-visible) {
      &::before, &::after {
        transform: translateX(0.5rem);
      }
    }
  }

  &.lib-hint-left {
    &::before, &::after {
      right: 100%;
      bottom: 50%;
    }

    &::before {
      margin-right: -0.6875rem;
      margin-bottom: -0.375rem;
    }

    &::after {
      margin-bottom: -1.1875rem;
    }

    &:is(:hover, :focus-visible) {
      &::before, &::after {
        transform: translateX(-0.5rem);
      }
    }
  }

  &[aria-label]::after {
    content: attr(aria-label);
  }

  &[class*="lib-hint-top"]::before {
    border-top-color: var(--color-accent);
  }

  &[class*="lib-hint-bottom"]::before {
    border-bottom-color: var(--color-accent);
  }

  &[class*="lib-hint-left"]::before {
    border-left-color: var(--color-accent);
  }

  &[class*="lib-hint-right"]::before {
    border-right-color: var(--color-accent);
  }

  &:is(.lib-hint-sm, .lib-hint-md, .lib-hint-lg)::after {
    white-space: normal;
    line-height: 1.5;
    word-wrap: break-word;
  }

  &.lib-hint-sm::after {
    width: 5rem;
  }

  &.lib-hint-md::after {
    width: 10rem;
  }

  &.lib-hint-lg::after {
    width: 15rem;
  }

  &:is(:hover, :focus-visible) {
    &::before, &::after {
      visibility: visible;
      opacity: 1;
      transition-delay: 100ms;
    }
  }
}
