[data-lib-ns] {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  scrollbar-width: none !important;
  -ms-overflow-style: none;

  & > * {
    flex: 0 0 auto;
    scroll-snap-align: start;

    @nest .is-fade& {
      opacity: 0;
      transition: var(--transition-opacity);

      &[data-state="active"] {
        opacity: 1;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none !important;
  }

  &:not(.is-fade):not(.is-grabbing) {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  &.is-grabbing {
    &, & * {
      cursor: grabbing;
    }

    & a {
      pointer-events: none;
    }
  }
}

[data-lib-ns-nav-item] {
  width: 0.75rem;
  height: 0.75rem;
  border: 0.125rem solid rgb(var(--color-current));
  border-radius: 50%;

  &[data-state*="active"] {
    background-color: rgb(var(--color-current));
  }
}
