.tippy-content {
  padding: 0;
}

.tippy-box {
  --lib-tippy-bg: var(--color-dark);

  &[data-theme~="light-border"] {
    background-color: rgb(var(--color-background));
    background-clip: padding-box;
    border: 1px solid rgba(0, 8, 16, .05);
    color: rgb(var(--color-default));
    box-shadow: 0 3px 14px -.5px rgba(0, 8, 16, .08);
    border-radius: var(--radius);
    left: 0.1875rem;

    & .tippy-svg-arrow {
      fill: rgb(var(--color-background));

      &:after {
        opacity: .3;
      }
    }
  }

  &[data-placement="bottom-end"] {
    &[data-animation="scale"] {
      transform-origin: top right;
    }

    & .tippy-svg-arrow {
      left: auto !important;
      right: 0.5rem;
      transform: none !important;
    }
  }

  &[data-placement="bottom-start"] {
    &[data-animation="scale"] {
      transform-origin: top left;
    }
  }
}

[data-lib-tippy]:not([data-lib-tippy^="dropdown"]) {
  cursor: default;
}