.tippy-content {
  padding: 0;
}

.tippy-box {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  font-size: inherit;
  line-height: inherit;

  &[data-placement="bottom-end"] {
    &[data-animation="scale"] {
      transform-origin: top right;
    }
  }

  &[data-placement="bottom-start"] {
    &[data-animation="scale"] {
      transform-origin: top left;
    }
  }
}

.tippy-svg-arrow {
  fill: var(--color-body);
}

[data-tippy-root] {
  &.is-full {
    @media not all and (--media-md) {
      inset: 0 !important;
      width: 100% !important;
      height: 100% !important;
      position: fixed !important;
      transform: none !important;
      visibility: visible !important;
      pointer-events: none;
      max-width: 100%;
      background-color: color-mix(in srgb, var(--color-dark) 50%, transparent);
      transition: var(--transition-opacity);
      opacity: 0;

      &:has(.tippy-content[data-state="visible"]) {
        opacity: 1;
      }

      & .tippy-content {
        pointer-events: auto;
      }

      & .tippy-box {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition-timing-function: ease;
        transition-duration: 300ms;

        &[data-state="hidden"] {
          transform: translateY(100%);
          opacity: 0;
        }
      }

      .c-dropdown {
        max-width: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
