@layer base {
  html {
    scroll-padding-top: var(--scroll-padding-top);

    @media (min-width: 60em) and (max-width: 75.9375rem) {
      font-size: 87.5%;
    }
  }

  body {
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    overflow-x: clip;
  }
}

@layer utilities {
  .x-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
