{capture $content}
    <div class="c-popover-content shadow h-48" id="popover2" aria-describedby="popoverAction" popover="manual">
        <input type="text" autofocus>
        <button
            type="button"
            data-action="controller#delegate"
            data-controller-name-param="c-popover"
            data-controller-method-param="hide"
            data-controller-selector-param="#popoverAction"
        >x</button>
    </div>
{/capture}

{$content|json('content')|noescape}

