<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{$page->title}</title>

        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="format-detection" content="telephone=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{$page->title}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#ffffff">

        {if isset($prefetch)}
            {foreach $prefetch as $url}
                <link rel="preconnect" href="{$url}" crossorigin>
                <link rel="dns-prefetch" href="{$url}">
            {/foreach}
        {/if}

        {if isset($preload)}
            {foreach $preload as $url}
                <link
                    {if isset($url->rel)}rel="{$url->rel}"{else}rel="preload"{/if}
                    href="{$url->href|asset}"
                    {if isset($url->as)}as="{$url->as}"{/if}
                    {if isset($url->type)}type="{$url->type}"{/if}
                    {if isset($url->crossorigin)}crossorigin{/if}
                >
            {/foreach}
        {/if}

        {foreach $assets->css->all as $url}
            <link rel="stylesheet" href="{$url|asset}">
        {/foreach}

        {if isset($modulepreload)}
            {foreach $modulepreload as $url}
                <link rel="modulepreload" href="{$url|asset}">
            {/foreach}
        {/if}

        <script>
            (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) && document.documentElement.classList.add('dark')
            document.documentElement.classList.remove('no-js')
        </script>

        <script src="{$assets->js->main|asset}" type="module"></script>

        <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg">
        <link rel="apple-touch-icon" type="image/webp" href="/favicons/favicon-512.webp">
        <link rel="manifest" href="/favicons/manifest.webmanifest">
    </head>

    <body data-controller="controller utils lib-dialog lib-ripple lib-reveal lib-toaster">
        {include '../Layout/Header.latte'}
            <main class="l-main swup-transition">
                {include '../Utils/sections.latte', sections => $page->body}
            </main>
        {include '../Layout/Footer.latte'}

        {if $layout->cookies}
            {include '../Components/Dialog/CookieConsent.latte'}
        {/if}

        {if true} {* load only on first load in production *}
            {fetch('/src/icons.svg')|noescape}
        {/if}
    </body>
</html>
