{
  "extends": "standard",
  "rules": {
    "indent": ["error", 4],
    "no-new": "off",
    "quotes":  ["error", "double", { "allowTemplateLiterals": true }],
    "space-before-function-paren": ["error", "never"]
  },
  "env": {
    "browser": true
  }
}