{
  "extends": [
    "@stylistic/stylelint-config",
    "stylelint-config-standard"
  ],
  "rules": {
    "@stylistic/selector-list-comma-newline-after": "always-multi-line",
    "@stylistic/max-line-length": 160,
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["layer", "tailwind"]}],
    "length-zero-no-unit": [true, {"ignore": ["custom-properties"]}],
    "property-no-vendor-prefix": [true, { "ignoreProperties": "appearance" }],
    "number-max-precision": [4, { "ignoreProperties": "letter-spacing" }],
    "selector-class-pattern": null,
    "import-notation": "string",
    "media-feature-range-notation": "prefix"
  },
  "ignoreFiles": ["**/+.css"]
}
