{
  "extends": [
    "@stylistic/stylelint-config",
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["layer", "tailwind", "theme", "utility", "variant", "custom-variant", "source"]}],
    "length-zero-no-unit": [true, {"ignore": ["custom-properties"]}],
    "number-max-precision": [4, { "ignoreProperties": "letter-spacing" }],
    "property-no-unknown": [true, { "ignoreProperties": ["/^mso-/"]} ],
    "import-notation": "string",
    "media-feature-range-notation": null
  },
  "ignoreFiles": ["**/+.css"]
}
