:root {--icomoon-font-family: "iconfont";
--icomoon-font-path: ".";
--icon-logo-nl: "\e900";
--icon-logo: "\e905";
--icon-recaptcha-path1: "\e90c";
--icon-recaptcha-path2: "\e917";
--icon-recaptcha-path3: "\e918";
--icon-menu: "\e910";
--icon-dark: "\e902";
--icon-light: "\e904";
--icon-radio-filled: "\e919";
--icon-checkbox-filled: "\e91a";
--icon-circle-cancel: "\e916";
--icon-close: "\e90f";
--icon-chevron-left: "\e907";
--icon-chevron-right: "\e901";
--icon-chevron-down: "\e908";
--icon-chevron-up: "\e909";
--icon-social-facebook: "\e90a";
--icon-social-twitter: "\e90d";
--icon-social-instagram: "\e911";
--icon-social-pinterest: "\e912";
--icon-social-linkedin: "\e913";
--icon-youtube: "\e90e";
--icon-tripadvisor: "\e90b";
--icon-angle-down: "\e914";
--icon-angle-up: "\e915";
--icon-paper-clip: "\e903";
--icon-valid: "\e906";
--icon-invalid: "\e91b";
}