<header class="x-header grid grid-cols-container" data-controller="x-header">
    <nav class="flex justify-center py-4 gap-4">
        <a n:foreach="$nav as $page" class="x-link" href="{$page->url}" title="{$page->name}">
            {$page->name}
        </a>
    </nav>
</header>
