{% json 'content' %}
    <div class="ui-dropdown">
        <ul class="wrp_ui_list flex-col row-y gy-4">
            <li class="col">
                <button class="ui-link" data-action="click->lib-dialog#show" data-action-url="/assets/dialog-range.json">
                    <span>{edit}</span>
                </button>
            </li>
            <li class="col">
                <button class="ui-link" data-action="click->lib-dialog#show" data-action-url="/assets/dialog-confirm.json">
                    <span>{delete}</span>
                </button>
            </li>
        </ul>
    </div>
{% endjson %}