@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .current {
    background-color: currentColor;
    color: currentColor;
  }

  .animation {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
}
