<div class="ui-control {ifset $classes}{$classes|noescape}{/ifset}"
    {ifset $attributes}{$attributes|noescape}{/ifset}
    n:define="UiControl"
>
    {block iconl}{/block}
    {block body}{/block}
    {block iconr}{/block}
    {block label}{/block}
</div>
