<div class="s-text py-14">
    <div class="container">
        <div class="d:col-10 ml-auto mr-auto">
            <div class="wrp_s_head mb-8">
                <h2 class="ui-heading">Cookies settings</h2>
            </div>
            <div class="wrp_s_body">
                <form class="c-form-cookieconsent" data-controller="c-form-cookieconsent" autocomplete="off">
                        <div class="wrp_form_head">
                            <div class="ui-text">
                                <h4>Cookies settings</h4>
                                <p>
                                    Lorem ipsum
                                </p>
                                <p></p>
                            </div>
                        </div>
                        <div class="wrp_form_head">
                            <div class="ui-text">
                                <h5>Necessary cookies</h5>
                                <p>
                                    Lorem ipsum
                                </p>
                            </div>
                        </div>
                        <div class="wrp_form_body">
                            <label class="ui-switch" data-controller="ui-radio">
                                <input type="checkbox" value="decline" checked disabled>
                            </label>
                        </div>
                        <div class="wrp_form_head">
                            <div class="ui-text">
                                <h5>Performance cookies</h5>
                                <p>
                                    Lorem ipsum
                                </p>
                            </div>
                        </div>
                        <div class="wrp_form_body">
                            <label class="ui-switch" data-controller="ui-radio">
                                <input type="checkbox" value="performance">
                            </label>
                        </div>
                        <div class="wrp_form_head">
                            <div class="ui-text">
                                <h5>Marketing cookies</h5>
                                <p>
                                    Lorem ipsum
                                </p>
                            </div>
                        </div>
                        <div class="wrp_form_body">
                            <label class="ui-switch" data-controller="ui-radio">
                                <input type="checkbox" value="marketing">
                            </label>
                        </div>
                        <div class="wrp_form_foot">
                            <button class="ui-btn" data-action="click->lib#ripple"><span>Save settings</span></button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
