<div style="padding: 6rem 4rem" class="col-4">
    <div class="ui-input" data-state="invalid">
        <input type="email" required />
        <label>E-mail</label>
        <span class="icon-validity lib-hint-top" aria-label="Zadejte prosím platnou e-mailovou adresu.">
            <span></span>
        </span>
    </div>
    <br/>
    <div class="ui-input" data-state="placeholder">
        <input type="email" required placeholder="Prosím vyplnit" />
        <label>E-mail</label>
        <span class="icon icon-social-instagram"></span>
    </div>
    <br/>
    <label class="ui-label">E-mail</label>
    <div class="ui-input" data-icon="left">
        <span class="icon icon-social-instagram"></span>
        <input type="email" required placeholder="" />
        <span class="icon-validity" aria-label="Zadejte prosím platnou e-mailovou adresu."></span>
    </div>
</div>