<li class="x-toast" role="status" aria-live="assertive" aria-atomic="true" data-controller="x-toast" data-x-toast-show-value="{}">
    <div class="x-toast-content">
        <div class="flex-col">
            <div class="x-title">Hello toast</div>
            <div class="x-text">Amazing toast</div>
        </div>
        <button class="x-button muted ml-auto" data-action="x-toast#close">Close</button>
    </div>
</li>
