<extends src="emails/templates.test/Layout.latte">
    <block name="body">
        <include src="emails/templates.test/Header.latte"></include>
        <include src="emails/templates.test/Content.latte"></include>
    </block>
</extends>
