<extends src="emails/templates.test/Layout.latte">
    <block name="body">
        <include src="emails/templates.test/Sections/Header.latte"></include>
        <include src="emails/templates.test/Sections/Text.latte"></include>
    </block>
</extends>
