.l-default {
    overflow: hidden;
    position: relative;
    opacity: 0
}

.l-spinner {
    animation: load 1.5s infinite;
    position: fixed;
    z-index: 1100;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    left: 50%;
    top: 50vh;

    @nest html.ie & {
        display: none;
    }
}

.is-body-preload .c-cookieconsent {
    opacity: 0;
}

@keyframes load {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}