@import "../../styles/Utils/theme/main.css";

:root {
  --width: 660px;
  --container: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--color-default);
}

table {
  border-collapse: separate;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-default);
  margin: 0;
}

.elm_container_wrapper {
  background-color: #fff;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--color-default);

  & .elm_container {
    margin: 0;
    width: 100%;
    background-color: #fff;

    & > tr > td {
      padding: 0 var(--container);

      &.elm_full {
        padding: 0;
      }
    }

    & .elm_inner_container {
      width: var(--width);
      min-width: var(--width);
      padding: 0;
    }
  }
}

.elm_content {
  & .elm_content_info {
    color: #606060;
    font-size: 13px;
    line-height: 2;

    & a {
      &, & span {
        color: #606060;
      }
    }
  }

  & .elm_content_heading {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary);
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}
