@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import "tailwindcss/variants.css";
@import "main/Base/font.css";
@import "main/Ui/+.css";
@import "main/Components/+.css";

:where([class*="border-"]) {
  border-width: 0;
  border-style: solid;
}

body {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

a {
  &, img {
    text-decoration: none;
    color: rgb(var(--color-main));
  }

  & img {
    font-weight: 700;
  }
}

.l-main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 600px;
}

.l-main-body {
  background-color: rgb(var(--color-body-secondary));
  border-radius: var(--rounded);

  & > tr {
    &:first-child > td {
      padding-top: var(--spacing-container-inner);
    }

    &:last-child > td {
      padding-bottom: var(--spacing-container-inner);
    }
  }
}

.dark-img {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(var(--color-body-primary-dark));
    color: rgb(var(--color-light));
    border-radius: var(--rounded);
  }

  a {
    &, img {
      color: rgb(var(--color-light)) !important;
    }
  }

  .l-main-body {
    background-color: rgb(var(--color-body-secondary-dark)) !important;
  }

  [class*="border-main/10"] {
    border-color: rgba(var(--color-light), 0.15) !important;
  }

  [class*="text-main"] {
    &, & span {
      color: rgb(var(--color-light)) !important;
    }
  }

  .light-img {
    display: none !important;
  }

  .dark-img {
    display: block !important;
  }
}
