<div class="c_cookieconsent is-background-light" data-title="Informace o cookies">
    <div class="wrp">
        <div class="wrp_c_text">
            <p>Webové stránky používají k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookies. Následující volbou souhlasíte s využíváním cookies a použití údajů o vašem chování na webu pro zobrazení cílené reklamy. Personalizaci a cílenou reklamu si můžete kdykoliv vypnout nebo upravit.</p>
        </div>
        <div class="wrp_c_options">
            <a href="/gdpr-cookies" class="ui-link" title="více informací & nastavení"><span>více informací & nastavení</span></a>
            <button class="ui-link" aria-label="vypnout personalizaci" data-lib-cookieconsent-decline><span>vypnout personalizaci</span></button>
            <button class="ui-btn" aria-label="Souhlasím s použitím cookies" data-lib-cookieconsent-approve><span class="icon-l icon-checkbox-filled"></span><span>Souhlasím s použitím cookies</span></button>
        </div>
    </div>
</div>