{var $center = true}

<div class="c-cookieconsent {if $center}is-center{/if}" data-controller="c-cookieconsent">
    <div class="c">
        <div class="c_head mt-2">
            {if true}
                <div class="ui-image w-40 mb-6">
                    <img src="{placeholder(160, 46)}">
                </div>
            {/if}
            <div class="ui-heading lg md:my-8">Nastavení soukromí a&nbsp;cookies&nbsp;🍪</div>
        </div>
        <div class="c_body">
            <div class="ui-text xs md:sm">
                <p>Webové stránky používají k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory&nbsp;cookies.</p>
                <p>Následující volbou souhlasíte s našimi <a href="/gdpr">zásady&nbsp;ochrany osobních údajů a cookies</a>. Svá&nbsp;nastavení můžete kdykoli změnit.</p>
            </div>
        </div>
        <div class="c_foot {if $center}flex-col gap-y-2{else}gap-x-4{/if}">
            <div class="col w-full">
                <button class="ui-btn lg w-full" data-action="click->c-cookieconsent#approve">Ano, souhlasím</button>
            </div>
            <div class="col w-full {if !$center}pr-6{/if}">
                <button class="ui-btn ghosted lg accent-main w-full" data-action="click->c-cookieconsent#decline"><span>Nesouhlasím</span></button>
            </div>
        </div>
    </div>
</div>
