{% set center = true %}
{% set closable = false %}

<div class="c-cookieconsent" data-type="{% if center %}center{% endif %} {% if closable %}closable{% endif %}">
    <div class="wrp bg-background">
        <div class="wrp_c_head mt-2">
            {% if true %}
                <div class="ui-image w-40 mb-6">
                    <img src="{{ placeholder(160, 46) }}">
                </div>
            {% endif %}
            <div class="ui-heading">Privacy settings and&nbsp;cookies&nbsp;🍪</div>
        </div>
        <div class="wrp_c_body">
            <div class="ui-text">
                <p>The Website uses cookies to provide services, personalize ads and analyze traffic.</p>
                <p></p>
                <p>By the following option, you agree to the use of cookies and the use of data about your behavior on the website to display targeted&nbsp;advertising. </p>
            </div>
        </div>
        <div class="wrp_c_foot {% if center %}flex-col space-y-6{% else %}space-x-10{% endif %}">
            <div class="col w-full">
                <button class="ui-btn w-full" data-size="lg" aria-label="Yes, I agree" data-lib-cookieconsent-approve>Yes, I agree</button>
            </div>
            <div class="col {% if not center %}pr-6{% endif %}">
                <button class="ui-link" aria-label="I disagree" data-lib-cookieconsent-decline><span>I disagree</span></button>
            </div>
        </div>
    </div>
</div>
