@define-mixin iconfont {
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: rgb(var(--color-invert));
  background-color: rgb(var(--color-primary));
}

::-ms-input-placeholder {
  color: rgba(var(--color-default),0.54) !important;
  opacity: initial !important;
}

hr {
  width: 100%;
  height: 1px;
  display: block;
  border: 0;
  color: inherit;
  border-top: 1px solid currentColor;
  opacity: 0.15;
  margin: 1rem 0;
  padding: 0;
}

picture {
  display: block;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  display: block;
}

a, area, button, input, label, select, summary, textarea, [tabindex] {
  touch-action: manipulation;
}

@-moz-document url-prefix() {
  select {
    text-indent: -0.125rem;
  }
}

[class^="icon"], [class*="icon"] {
  &:before {
    display: block;
  }
}

[class^="path"] {
  @mixin iconfont;
}

[data-ratio] {
  position: relative;

  &:not(.bg-transparent) {
    background-color: rgb(var(--color-background-100));
  }

  &:before {
    content: "";
    display: block;
  }

  & > * {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  picture& > img {
    object-fit: cover;
  }
}

.grecaptcha-badge {
  display: none;
}