@import "winduum/src/base/default.css";

:where(svg) {
  display: block;
}

:where(use) {
  stroke-width: 2;
}

:where(img) {
  display: block;
  font-size: 0;
}

:where(ol:not([type]), ul, menu) {
  padding: 0;
  margin: 0;
}
