@utility no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-body-primary);
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    width: 0.375rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: var(--radius-full);
  }
}
