:root {
  --color-default: 17,19,21;
  --color-invert: 255,255,255;
  --color-primary: 131,205,79;
  --color-secondary: 69,71,72;
  --color-light: 255,255,255;
  --color-dark: 17,19,21;
  --color-success: 33,154,67;
  --color-error: 254,50,75;
  --color-warning: 254,179,53;
  --color-info: 102,153,204;
  --color-background: 255,255,255;
  --color-background-100: 245,245,245;
  --color-background-200: 235,235,235;
  --color-background-300: 225,225,225;

  &.dark {
    --color-default: 255,255,255;
    --color-invert: 17,19,21;
    --color-background: 17,19,21;
    --color-background-100: 30,32,34;
    --color-background-200: 37,39,41;
    --color-background-300: 47,49,51;
  }
}