<tr class="x-footer">
    <td class="p-container pt-[0px]">
        <table class="w-full text-center">
            <tr>
                <td class="x-text sm">
                    ahoj@email.cz<br>
                    (+420) 123 456 789<br>
                    po-pá 9:00 - 17:30
                </td>
            </tr>
        </table>
    </td>
</tr>
