<tr class="x-header">
    <td class="px-container pt-container">
        <a href="https://www.bookolosystem.com" target="_blank">
            <img src="https://placehold.co/160x60" alt="Logo" style="width: 160px; height: 60px;">
        </a>
    </td>
</tr>

