.ui-btn-group {
  width: auto;

  & td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.ui-btn {
  padding: 10px 15px;
  background-color: rgb(var(--color-primary));
  font-size: 12px;
  border-radius: var(--rounded);
  font-weight: 700;
  transition: var(--transition-background), var(--transition-color);

  &.lg {
    padding: 20px;
    border-radius: 999px;
    font-size: 16px;
  }

  &, & span {
    color: rgb(var(--color-light));
    text-decoration: none;
  }

  & span {
    transition: var(--transition-color);
  }

  &.ghosted {
    background-color: transparent;

    &, & span {
      color: rgb(var(--color-primary));
    }
  }

  &:hover {
    background-color: rgba(var(--color-primary), 0.8) !important;

    &[class*="text-main"] {
      background-color: rgba(var(--color-main), 0.15) !important;
    }
  }
}

.ui-btn-table {
  & table {
    background-color: rgb(var(--color-primary));
    width: auto;
    border-radius: 999px;
    font-weight: 700;
    transition: var(--transition-background), var(--transition-color);
  }

  & td {
    padding: 16px 20px;
  }

  &, & span {
    color: rgb(var(--color-light));
    text-decoration: none;
  }

  &:hover {
    & table {
      background-color: rgba(var(--color-primary), 0.8) !important;

      &[class*="text-main"] {
        background-color: rgba(var(--color-main), 0.15) !important;
      }
    }
  }
}
