<tr class="nlm_content">
    <td>
        <table class="elm_inner_container">
            <tr>
                <td>
                    <br />
                    <div class="elm_content_heading">Thanks for your email:</div>
                    <br />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae est dui. Vestibulum vehicula in mi in interdum. Aliquam quis tempor nibh. Duis tincidunt vel purus tincidunt iaculis. In bibendum leo justo, et elementum justo dapibus et. Aliquam eu elementum magna. Fusce egestas urna ac venenatis auctor. Phasellus felis leo, suscipit non est sit amet, lobortis pellentesque urna. Ut enim leo, posuere eget mauris vel, egestas pellentesque metus. Curabitur ut est ut orci blandit suscipit. Morbi lacinia sapien luctus lectus maximus, vitae gravida lectus aliquet. Vestibulum ut placerat diam. Fusce dapibus tincidunt justo, sed venenatis nisl porttitor vitae.</p>
                    <br />
                    <div class="elm_content_info"><a href="https://www.example.com"><span>www.example.com</span></a></div>
                </td>
            </tr>
        </table>
    </td>
</tr>
