<tr class="elm_header">
    <td>
        <table class="elm_inner_container">
            <tr>
                <td>
                    <br />
                    <a href="#"><img src="https://via.placeholder.com/160x60" width="160" alt="" style="width: 160px" /></a>
                    <br />
                    <br />
                </td>
            </tr>
        </table>
    </td>
</tr>
