<tr class="s-footer">
    <td class="p-container pt-[16px]">
        <table class="s_body" align="center">
            <tr>
                <td class="px-container-inner">
                    <table>
                        <tr>
                            <td class="ui-text sm pr-[160px]">
                                Název webu<br>
                                Adresa
                            </td>
                            <td class="ui-text sm">
                                <a href="mailto:info@example.com"><span>info@example.com</span></a><br>
                                <a href="tel:+420111222333"><span>(+420) 111 222 333</span></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
