<tr class="s-header">
    <td>
        <table class="s_body" align="center">
            <tr>
                <td class="px-container-inner">
                    <table>
                        <tr>
                            <td>
                                <a href="https://www.bookolosystem.com" target="_blank">
                                    <img src="https://via.placeholder.com/160x60" alt="Logo" class="light-img w-[160px] h-[60px] block">
                                    <!--[if !mso]><! -->
                                    <img src="https://via.placeholder.com/160x60" alt="Logo" class="dark-img w-[160px] h-[60px] block"
                                         style="{if $forceLightMode}background-color: rgb(245,245,245);border-radius: 8px;padding: 6px{/if}">
                                    <!--<![endif]-->
                                </a>
                            </td>
                            <td class="text-right">
                                <table class="ui-btn-group" align="right">
                                    <tr>
                                        <td>
                                            <a href="#" class="ui-btn"><span>Zobrazit web</span></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr><td class="border-b border-main/10 pb-[32px]"></td></tr>
                        <tr><td class="pb-[32px]"></td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

