<tr class="s-text">
    <td>
        <table class="s_body" align="center">
            <tr>
                <td class="px-container-inner">
                    <table>
                        <tr>
                            <td class="ui-heading lg pb-[24px]">
                                Lorem ipsum
                            </td>
                        </tr>
                        <tr>
                            <td class="ui-text">
                                Hello David,<br>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

