.c-form-cookieconsent {
  & .wrp_form_head {
    margin-bottom: 1rem;
  }

  & .wrp_form_body {
    display: flex;
    flex-direction: row;
    margin: 0 0 1.75rem;
    line-height: 1.5;

    @media (--media-m) {
      flex-direction: column;
    }

    & .ui-radio {
      &:not(:last-of-type) {
        margin-right: 1rem;

        @media (--media-m) {
          margin-right: auto;
          margin-bottom: 0.75rem;
        }
      }
    }
  }

  & .wrp_form_foot {
    margin-top: 2rem;
  }
}
