{% json 'content' %}
    <div class="c-dropdown">
        <ul class="wrp_c_list flex-col row-y gy-4">
            <li class="col">
                <button class="ui-link">
                    <span>{edit}</span>
                </button>
            </li>
            <li class="col">
                <button class="ui-link">
                    <span>{delete}</span>
                </button>
            </li>
        </ul>
    </div>
{% endjson %}
