@utility container {
  min-width: var(--container);
  width: var(--container);

  @media (max-width: 647px) {
    min-width: 100% !important;
    width: 100% !important;
  }
}

@utility underline {
  text-decoration: underline;
}

@utility border-r {
  border-right: 1px solid;
}

@utility border-l {
  border-left: 1px solid;
}

@utility border-b {
  border-bottom: 1px solid;
}

@utility border-t {
  border-top: 1px solid;
}
