.c-card {
  background-color: rgb(var(--color-body-tertiary));
  border-radius: var(--rounded);

  @media (prefers-color-scheme: dark) {
    background-color: rgb(var(--color-body-tertiary-dark)) !important;
  }

  & > tr > td {
    padding: 28px 24px;
  }
}
