@import "winduum/src/base/transitions.css";

@utility view-transition-main {
  html.swup-enabled & {
    transition: opacity var(--view-transition-main-duration);
    opacity: 1;
  }

  html.is-animating & {
    opacity: 0;
  }
}
